:root{
  --primary-color:#2C228C;
  --secondary-color-1:#84D2F6;
  --secondary-color-2:#59A5D8;
  --secondary-color-3:#93B9E8;
}
@font-face {
    font-family: 'Quicksand';
    src: url('/assets/fonts/Quicksand.ttf') format('truetype');
  }
  html{
    
    font-size: 9px;
  }
  body {
    font-family: 'Quicksand', sans-serif;
  }
  .page{
    max-width: 1224px;
    margin: 0 auto;
  }
  .login-panel{
    position: absolute;
    border: 1px solid var(--secondary-color-1);
    width: 400px;
    max-width: 90%;
    padding: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    box-shadow: 2px 3px 5px var(--secondary-color-2);
    /* max-height: 68rem; */
    overflow-y: auto;
  }
  .dashboard{
    margin: 4rem 2rem;
  }
  .dashboard-card{
    background-color: var(--primary-color);
    color: #fff;
    padding: 2rem 4rem;
    border-radius: 10px;
    margin-bottom: 2rem;
  }
  .dashboard-card h2{
    font-size: 2rem;
  }
  .dashboard-card p{
    text-align: right;
    font-size: 1.8rem;
    font-weight: 500;
  }
  .dashboard .summery{
    padding-bottom: 4rem;
  }
  .dashboard .action{
    border: 1px solid var(--secondary-color-3);
    display: inline-block;
    padding: 2rem;
  }
  .dashboard .actions{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content:space-around;
  }
  .dashboard .action{
    min-width: 12rem;
    border-radius: .5rem;
    transition-duration: .4s;
  }
  .dashboard .action:hover{
    background-color: var(--secondary-color-2);
    cursor: pointer;
    color: white;
    transition-duration: .4s;
  }
  .dashboard .action .icon{
    text-align: center;
  }
  .dashboard .action .content{
    font-size: 1.6rem;
    text-align: center;
    font-weight: 600;
  }


  .products {
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(30rem,1fr));
    gap: 1rem;
    margin-top: 2rem;
  }
  .products.seller{
    
    grid-template-columns:  repeat(auto-fill, minmax(20rem,1fr));
  }
  .products .product-card .main-details{
    display: flex;
    gap: 2rem;
  }
  .products .product-card{
    border: var(--secondary-color-2) 1px solid;
    padding: 1rem;
    border-radius: .5rem;
    font-size: 12px;
    gap: 1rem;
  }
  .products .product-card .img{

    justify-content: center;
    display: flex;
    align-items: center;
  }
  .products .product-card img{
    height: 80px;
  }
  .products .product-card .summery{
    display: flex;
    gap: 15px;
    justify-content: space-between;
  }
  .products .product-card .summery .quantity{
    margin-top: auto;
  }
  .products .product-card .summery .price{
    text-align: right;
    margin-top: auto;
  }

  .order-placement{
    width: 100%;
  }


  @media print {
    body * {
      visibility: hidden;
    }
    .printable,
    .printable * {
      visibility: visible;
    }
  }